<!DOCTYPE html>

<html>

  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
  </head>

  <body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/robot.png">
        <p>This app was created by J. Franco using mapbox.com and darksky.com</p>
    </div>

    {{>footer}}
  </body>

</html>
